.product-list{
  position: relative;

  .product-item{
    position: relative;
    padding: 8PX;
    margin: 8PX;
    background: #fff;
    border-radius: 8PX;
    @include box-shadow;
    img{
      display: block;
      width: 100%;
      max-width: 160px;
      border-radius: 50%;
      margin-right: 16PX;
    }
    .title{
      font-size: 16PX;
      font-weight: 700;
    }
    .desc{
      font-size: 12PX;
    }
  }
}
.product-list-empty .bottom-button {
  width: 160PX;
}